<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Let Go - Go Get</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/assets/js/app.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdnGy42JqOvRkn8r1-xfedS-fHu_sGP3A&libraries=places"></script> 
</head>
<body>
  {{{ body }}}
</body>
</html>
